 ------
 Introduction
 ------
 Jason van Zyl
 ------
 2013-07-22
 ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied. See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

${project.name}

  This plugin retrieves JARs of resources from remote repositories,
  processes those resources, and incorporates them into JARs you build with Maven.

  A common use-case is packaging resources consistently across your organization.
  At Apache, every JAR must contain a copy of the Apache license and a notice file
  that references all used software in a given project: see {{{/apache-resource-bundles/}Apache Resource Bundles}}.

* Goals Overview

  * {{{./bundle-mojo.html}remote-resources:bundle}} creates the resource bundle manifest.
    The {{{./remote-resources.html}manifest file}},
    <<<$\{basedir\}/target/classes/META-INF/maven/remote-resources.xml>>>, comes from
    <<<src/main/resources>>>.

  * {{{./process-mojo.html}remote-resources:process}} retrieves remote resource bundles,
    processes them, and makes them available to the process-resources phase.

  * {{{./aggregate-mojo.html}remote-resources:aggregate}} retrieves remote resource bundles,
    processes them in aggregate mode, and makes them available to the process-resources phase.

  []

* Usage

  General instructions for using the Remote Resources Plugin are on the {{{./usage.html}usage page}}.
  Some specific use cases appear in the examples below.

  If you need help with advanced features, see the advanced help pages:

  * {{{./supplemental-models.html}Patching Bad POMs with Supplemental Models}}

  []

  If you have questions about the plugin, check the {{{./faq.html}FAQ}} or contact the
  {{{./mailing-lists.html}user mailing list}}. Posts to the mailing list are archived.
  You can browse or search the {{{./mailing-lists.html}mail archive}}.

  If you think the plugin is missing a feature or has a defect, file a feature request or bug report.
  When creating an issue, provide a clear description of your concern.
  For fixing bugs, attach entire debug logs, POMs, or demo projects.
  We also welcome patches. Contributors can get code from our
  {{{./scm.html}source repository}} and find more information in the
  {{{/guides/development/guide-helping.html}guide to helping with Maven}}.

* Examples

  To help you understand the Remote Resources Plugin usages,
  see these examples:

  * {{{./examples/sharing-resources.html}Sharing Resources Example}}
